@model IEnumerable<MVC_SampleApp.Models.CustomerReviewGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Customer Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Customers
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.CustomerCount
            </td>
        </tr>
    }
</table>